<!DOCTYPE html>
<html>
<head>
	<title>Marks pred</title>
</head>
<body>
<h1> marks </h1>
<form method="POST" action="/">
	<input type ="text" name ="preg" placeholder="pregnancy">
	<br>
	<input type ="text" name ="glucose" placeholder="glucose">
	<br>
	<input type ="text" name ="bldp" placeholder="blood pressure">
	<br>
	<input type ="text" name ="skinth" placeholder="skin thickness">
	<br>
	<input type ="text" name ="insulin" placeholder="insulin">
	<br>
	<input type ="text" name ="bmi" placeholder="BMI">
	<br>
	<input type ="text" name ="dpf" placeholder="DiabetesPedigreeFunction">
	<br>
	<input type ="text" name ="age" placeholder="Age">
	<br>

	<input type="submit">
</form>
<h2>{{predicted}}</h2>

</body>
</html>